* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.body {
  font-family: sans-serif;
}

/* section navbar */
.header .navbar {
  padding: 10px 0;
}
.header .navbar-brand img {
  max-width: 120px;
  height: auto;
}
.header .navbar-toggler {
  border: 0;
  color: white;
  line-height: 2px;
}
.header .navbar-toggler-icon {
  border: 0;
  color: white;
  line-height: 2px;
}
.header .nav-item {
  margin: 0 10px;
}
.header .nav-item .nav-link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: black;
  display: inline-block;
}
.header .main-btn {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid rgb(248, 191, 5);
  background-color: rgba(245, 202, 11, 0.952);
  color: black;
  font-weight: 600;
  display: inline-block;
}
.header .search {
  padding-top: 10px;
  padding-left: 10px;
  color: black;
  display: inline-block;
}

.header .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 187, 0);
  transition: 0.3s;
  bottom: 0;
}
.header .nav-item .nav-link.active::after,
.header .nav-item .nav-link:hover:after {
  width: 100%;
}
.header .nav-item .nav-link.nav-link.active,
.header .nav-item .nav-link:hover::after {
  color: white;
  background: linear-gradient(
    to right,
    rgba(1, 65, 41, 0.993),
    rgb(4, 143, 90)
  );
  -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(1, 65, 41, 0.993),
    rgb(4, 143, 90)
  );
  -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
}

/* section home */
section {
  margin-top: 150px;
}
.section-home .para {
  background: linear-gradient(
    to right,
    rgba(4, 143, 90, 0.527),
    rgb(4, 143, 90)
  );
  border-radius: 5px;
  height: 450px;
  text-align: left;
  padding: 100px 50px;
}
.section-home .paragraphe {
  color: white;
}

/* section programmes */
.section-programme .programm {
  border-radius: 10px;
  border: 1px solid green;
  background-color: rgb(21, 128, 0);
  color: white;
}
.section-programme ul {
  margin-top: 50px;
}
.section-programme li {
  display: flex;
  margin-top: 30px;
}
.section-programme .programm h4 {
  color: white;
}
.section-programme h5 {
  padding-left: 15px;
}
.section-programme h4 {
  color: black;
  font-weight: 400;
  text-align: center;
}
.section-programme .bakeli {
  border-radius: 10px;
  border: 1px solid green;
}
.section-programme .para {
  color: black;
  padding: 30px 0;
}
.section-programme .btn {
  text-align: center;
}

.section-programme .bleu {
  color: rgb(0, 174, 255);
  font-weight: bold;
}
.section-programme .jaune {
  color: rgb(255, 217, 0);
  font-weight: bold;
}
.section-programme .rouge {
  color: red;
  font-weight: bold;
}
.section-programme .vert {
  color: rgb(102, 236, 13);
  font-weight: bold;
}

/* section nos campus  */
.section-campus {
  background-color: rgba(255, 38, 0, 0.993);
  color: white;
}
.section-campus .img-fluid {
  width: 100%;
}

.section-campus .diplome {
  margin-top: 50px;
}
.section-campus h5 {
  display: inline;
  padding-left: 10px;
  padding-top: 50px;
}
.section-campus p {
  padding-left: 100px;
  font-size: 12px;
}
.section-campus h2 {
  padding-top: 30px;
}

/* section admission  */

.section-admission .flexible {
  display: flex;
  justify-content: space-around;
}
.section-admission .a {
  border: 1px solid rgb(47, 128, 0);
  padding: 10px 10px 20px 10px;
  text-align: center;
}
.section-admission .b {
  border: 1px solid rgb(47, 128, 0);
  padding: 10px 10px 20px 10px;
  text-align: center;
}
.section-admission .c {
  border: 1px solid rgb(47, 128, 0);
  padding: 10px 10px 20px 10px;
  text-align: center;
}

/* section evenement  */
.section-evenement {
  background-color: rgba(255, 38, 0, 0.993);
  color: white;

}
.section-evenement .card {
  background-color: rgba(255, 38, 0, 0.993);
  border: none;
}
.section-evenement .card img {
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.534);
}

/* section bloc  */
.section-bloc .card {
  height: 150px;
}
.h3 {
  padding-top: 50px;
}
.section-bloc {
  background-color: rgba(166, 212, 226, 0.219);
}
.section-footer {
  background-color: rgb(0, 128, 90);
}
.section-footer .text-end {
  font-size: 12px;
}
