@media (max-width: 991px) {
  /*------------------------- campus------------------- */
  .section-admission img {
    width: 150px;
    height: 150px;
  }
  /*''''''''''''''''''''''' header-------------------------- */
  .header .navbar {
    background: linear-gradient(
      to right,
      rgba(1, 65, 41, 0.993),
      rgb(4, 143, 90)
    );
    -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  }
}

@media (max-width: 767px) {
  /*------------------------- campus------------------- */
  .section-admission img {
    width: 120px;
    height: 120px;
  }
  .section-admission .a {
    border: none;
  }
  .section-admission .b {
    border: none;
  }
  .section-admission .c {
    border: none;
  }
  /* -------------------header'''''''''''''''''''''''''''''''' */
  .header .navbar {
    background: linear-gradient(
      to right,
      rgba(1, 65, 41, 0.993),
      rgb(4, 143, 90)
    );
    -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  }
}
